# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Fifth.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\theboatman\Coding\Unik\Labs\ISP\Labs\Fifth\.idea\.idea.Fifth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
